// Variable 
$font-family : 'Nunito', sans-serif;
$font-family2: 'Kaushan Script', cursive;
$regular : 400;
$semi-bold: 600;

// font size
$font-size-n: 18px;
$font-size-sm: 12px;
$font-size-lg: 64px;
$font-size-rm : 48px;
//All rem


// color
$secondary-color: rgb(223, 223,223);
$color-primay: whitesmoke;
$color-secondary: #cc9808;
$color-secondary_hover: #c27e01;
$color-bg: rgb(26, 26, 27);